html(ng-app="studyGuide")
  head
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js")
    script(type="text/javascript", src="http://code.jquery.com/jquery-1.11.3.min.js")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    
    script(type="text/javascript", src="webDevelopment.js")
    link(rel="stylesheet", type="text/css", href="../section-style.css")
    
    title="Web Development | Self-Learning Study Guide"
  body
    #title 
      h1 Web Development
      a(href="../masterStudyGuide.html") Home
      br
      em
        a(href="#frameworks") Frameworks
      br
      em
        a(href="#npm") npm
      br
      em
        a(href="#angular") AngularJS
    #body.container(ng-controller="StudyController as study")
      h2 General
      ul.list-group
        li.list-group-item(ng-repeat="thing in study.stuff | orderBy: 'title'")
          h3 
            b {{thing.title}}
          b Description: 
          p - {{thing.content}}
      h2#frameworks Frameworks
      ul.list-group
        li.list-group-item(ng-repeat="frame in study.frameworks | orderBy: 'title'")
          h3
            b {{frame.title}}
          b Descriptions: 
          p(ng-repeat="content in frame.descriptions") - {{content}}
      h2#npm npm
      p.section-header npm is a public registry for dependency package/module management. Generally used in connection with Node.js.
      ul.list-group
        li.list-group-item(ng-repeat="npm in study.npm | orderBy: 'title'")
          h3
            b {{npm.title}}
          b Descriptions: 
          p(ng-repeat="content in npm.contents") - {{content}}
      h2#angular AngularJS
      p.section-header AngularJS is a web development framework that allows a programmer to easily implement MVC and responsive principles, as well as additional extensive behavior, testing, and HTML readability.
      ul.list-group
        li.list-group-item(ng-repeat="angular in study.angularJS | orderBy: 'title'")
          h3
            b {{angular.title}}
          b Descriptions: 
          p(ng-repeat="content in angular.contents") - {{content}}
          
          
          
          
