<html ng-app="studyGuide">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="../section-style.css"/>
    <script type="text/javascript" src="databases.js"></script>

    <title>Databases | Self-Learning Study Guide</title>
  </head>

  <body>
    <div id="title">
      <h1>Databases</h2>
      <a href="../masterStudyGuide.html">Home</a></br>
      <em><a href="#SQL">SQL</a></em></br>
      <em><a href="#ORM">ORM</a></em></br>
    </div>
    <div id="body" ng-controller="StudyController as study" class="container">
      <h2>Concepts</h2>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="note in study.general | orderBy:'title'">
          <h3>{{note.title}}</h3>
          <p>- {{note.content}}</p>
        </li>
      </ul>
      <h2 id="SQL">SQL - Structured Query Language</h2>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="sql in study.sql | orderBy:'title'">
          <h3>{{sql.title}}</h3>
          <b>Description:</b>
          <p ng-repeat="description in sql.descriptions">- {{description}}</p>
          <b>Psudocode:</b>
          <p ng-repeat="psudocode in sql.psudocode">- {{psudocode}} </p>
        </li>
      </ul>
      <h2 id="ORM">ORM</h2>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="orm in study.orm | orderBy:'title'">
          <h3>{{orm.title}}</h3>
          <p>- {{orm.description}}</p>
        </li>
      </ul>
  </body>
</html>
