body, html {
  font-size: 40px;
  color: orange;
  background-color: brown;
  text-align: left;
}
#title {
  font-size: .7em;
  text-align: center;
}
#body {
  font-size: .4em;
  h3 {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  li {
    color: black;
    margin: 10px;
  }
  h3 {
    font-size:1.5em;
  }
}
