<html ng-app="studyGuide">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
    <script type="text/javascript" src="algorithms.js"></script>

    <title>Algorithms | Self-Learning Study Guide</title>
  </head>

  <body>
    <div id="title">
      <h1>Algorithms</h2>
      <a href="../masterStudyGuide.html">Home</a></br>
      <em><a href="#sort">Sort</a></br></em>
      <em><a href="#search">Search</a></em>
    </div>
    <div id="body" ng-controller="StudyController as study" class="container">
      <h2>General</h2>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="note in study.general | orderBy:'-title'">
          <h3>{{note.title}}</h3>
          <p>- {{note.content}}</p>
        </li>
      </ul>
      <h2 id="sort">Sorting Algorithms</h2>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="sort in study.sorting | orderBy:'-title'">
          <h3>{{sort.title}}</h3>
          <b>Description:</b>
          <p ng-repeat="description in sort.descriptions">- {{description}}</p>
          <b>Advantages:</b>
          <p ng-repeat="advantage in sort.advantages">- {{advantage}}</p>
          <b>Disadvantages:</b>
          <p ng-repeat="disadvantage in sort.disadvantages">- {{disadvantage}} </p>
          <b>Psudocode:</b>
          <p ng-repeat="psudocode in sort.psudocode">- {{psudocode}} </p>
          <b>Analysis:</b>
          <p ng-repeat="analysis in sort.analysis">- {{analysis}} </p>
          <b>Code:</b>
          <p><a href="{{sort.code[1]}}" target="_blank">{{sort.code[0]}}</a></p>
        </li>
      </ul>

      <h2 id="search">Searching Algorithms</h2>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="search in study.searching | orderBy:'-title'">
          <h3>{{search.title}}</h3>
          <b>Description:</b>
          <p ng-repeat="description in search.descriptions">- {{description}}</p>
          <b>Advantages:</b>
          <p ng-repeat="advantage in search.advantages">- {{advantage}}</p>
          <b>Disadvantages:</b>
          <p ng-repeat="disadvantage in search.disadvantages">- {{disadvantage}} </p>
          <b>Psudocode:</b>
          <p ng-repeat="psudocode in search.psudocode">- {{psudocode}} </p>
          <b>Analysis:</b>
          <p ng-repeat="analysis in search.analysis">- {{analysis}} </p>
          <b>Code:</b>
          <p><a href="{{search.code[1]}}">{{search.code[0]}}</a></p>
        </li>
      </ul>
  </body>
</html>
