<html ng-app="studyGuide">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="../section-style.css"/>
    <script type="text/javascript" src="dataStructures.js"></script>

    <title>Data Structures | Self-Learning Study Guide</title>
  </head>

  <body>
    <div id="title">
      <h1>Data Structures</h2>
      <a href="../masterStudyGuide.html">Home</a></br>
    </div>
    <div id="body" ng-controller="StudyController as study" class="container">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="structure in study.structures | orderBy:'title'">
          <h3>{{structure.title}}</h3>
          <b>Description:</b>
          <p ng-repeat="description in structure.descriptions">- {{description}}</p>
          <b>Advantages:</b>
          <p ng-repeat="advantage in structure.advantages">- {{advantage}} </p>
          <b>Disadvantages:</b>
          <p ng-repeat="disadvantage in structure.disadvantages">- {{disadvantage}} </p>
          <b>Efficiency:</b>
          <p ng-repeat="efficiency in structure.efficiency">- {{efficiency}} </p>
          <b>Types:</b>
          <p ng-repeat="type in structure.types">- {{type}} </p>
          <b>APIs:</b>
          <p ng-repeat="api in structure.apis">- {{api}} </p>
          <b>Code:</b>
          <a href="{structure.code[0]}" target="_blank">{{structure.code[1]}} </a>
        </li>
      </ul
  </body>
</html>
