<html ng-app="studyGuide">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <script type="text/javascript" src="designPatterns.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheet.css"/>

    <title>Design Patterns | Self-Learning Study Guide</title>
  </head>

  <body>
    <div id="title">
      <h1>Design Patterns</h2>
      <p><a href="../masterStudyGuide.html">Home</a></p>
    </div>
    <div id="body" ng-controller="StudyController as study" class="container">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="section in study.sections | orderBy:'-title'">
          <h3><b>{{section.title}}</b></h3>
          <b>Uses:</b>
          <p ng-repeat="use in section.uses">- {{use}}</p>
          <b>Advantages:</b>
          <p ng-repeat="advantage in section.advantages">- {{advantage}}</p>
          <b>Disadvantages:</b>
          <p ng-repeat="disadvantage in section.disadvantages">- {{disadvantage}} </p>
          <b>Examples:</b>
          <p ng-repeat="example in section.examples">- {{example}} </p>
        </li>
      </ul>
    </body>
</html>
